<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur LAGalerie !</title>
    <script src="https://kit.fontawesome.com/2b96999228.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <a href=" {{ path("index") }}"><h1>LAGalerie</h1></a>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ path("index") }}">Toutes les photos</a></li>
            <li><a href="{{ path("create") }}">Publier une photo</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block body %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2021 LAGalerie - Maxime Voltz</p>
</footer>
</body>
</html>
